<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Send them all</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/main.css') }}"/>
        <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}"> -->
              
    </head>

    <body>
        <div class="wrapper">
            <!-- <div class="main"> -->
                {% block content %}

                    {% if not session.get('logged_in') and not session.get('gmail_logged') %}
                        <div class="cover">
                            <p class="header">Login</p>
                            <form id="authorizeForm" action="/login" method="POST" role="form">
                                <label class="form-label">Enter Username</label>
                                <input class="form-field" id="username" name="username" placeholder="username" required>
                                <label class="form-label">Enter Password</label>
                                <div class="password-group">
                                    <input class="form-field pass" type="password" id="password" name="password" placeholder="password">
                                    <i class="fa fa-eye"></i>
                                </div>
                                {{ recaptcha }}
                            </form>
                            <div class="fbutton">
                                <button id="submitAuth" type="button" class="baton">Submit</button>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <h4 class="mess">{{ message }}</h4>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% elif session['logged_in'] and not session.get('gmail_logged') %}
                        <button class="baton" id="logoutAuth" type="button"><a href="/logout">Logout</a></button>
                        <div class="cover">
                            
                    
                            <p class="header">Enter your Gmail credentials</p>
                            <form id="gmailForm" action="/gmail" method="POST" role="form">
                                <label class="form-label">Enter Your Email</label>
                                <input class="form-field" id="gmailname" name="gmailname" placeholder="email">
                                <label class="form-label">Enter Password</label>
                                <div class="password-group">
                                    <input class="form-field pass" type="password" id="gmailpassword" name="gmailpassword" placeholder="password">
                                    <i class="fa fa-eye"></i>
                                </div>
                                {{ recaptcha }}
                            </form>
                            <div class="fbutton">
                                <button id="submitGmail" type="button" class="baton">Submit</button>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <h4 class="mess">{{ message }}</h4>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% elif session['logged_in'] and session['gmail_logged'] %}
                        <button class="baton" id="logoutAuth" type="button"><a href="/logout">Logout</a></button>
                        <div class="cover">
                            <p class="header">Fill out the fields below</p>
                            <form id="uploadForm" action="/upload" method="POST" role="form" enctype = "multipart/form-data">
                                <label class="form-label lbl1">Upload Message Text</label>
                                <input class="form-field inp1" type="file" id="text" name="text"/>
                                <label class="form-label lbl2">Upload Contacts File</label>
                                <input class="form-field inp2" type="file"  id="contacts" name="contacts"/>
                                <!-- {{ recaptcha }} -->
                            </form>
                            <div class="fbutton">
                                <button id="submitUpload" type="button" class="baton">Submit</button>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <h4 class="mess">{{ message }}</h4>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% endif %}
                    
                {% endblock content %}

            <!-- </div> -->
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    </body>