<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Send them all</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill|Lato:300i,400" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/main.css') }}"/>
        <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}"> -->
              
    </head>

    <body>
        <div class="wrapper">
            <div class="main">
                {% block body %}
                    {% if session['logged_in'] %}
                        <p>You're logged in already!</p>
                    {% else %}
                        <form id="authorizeForm" action="/login" method="POST" role="form">
                            <label class="form-label">Enter Username</label>
                            <input class="form-field" id="username" name="username" placeholder="Enter Username">
                            <label class="form-label">Enter Password</label>
                            <input class="form-field" id="password" name="password" placeholder="Enter Password">
                            <!-- {{ recaptcha }} -->
                        </form>
                        <div class="fbutton">
                            <button id="submitAuth" type="button" class="baton">Submit</button>
                        </div>
                    {% endif %}
                {% endblock %}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h4>{{ message }}</h4>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
        <!-- <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script> -->
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    </body>
</html>
